@model EntityLayer.Entities.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>
    <link href="~/eshop/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshop/css/price-range.css" rel="stylesheet">
    <link href="~/eshop/css/animate.css" rel="stylesheet">
    <link href="~/eshop/css/main.css" rel="stylesheet">
    <link href="~/eshop/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshop/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshop/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshop/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/eshop/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top" style="background-color:darkred">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone" style="color:snow"></i><strong style="color:snow">+90(531)555 61 68</strong></a></li>
                                <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa fa-envelope" style="color:snow"></i><strong style="color:snow">cankat.atalar12@gmail.com</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" style="color:snow"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="/Home/Index"><img src="~/eshop/images/home/online.png" alt="" /></a>
                        </div>
                        <div class="search_box pull-center">
                            <form action="@Url.Action("ProductSearch", "Product")" method="get" style="padding-left: 200px">
                                <input type="text" id="searcString" name="searchString" placeholder="Ara">
                            </form>
                        </div>
                    </div>



                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/User/Update"><i class="fa fa-user"></i><strong> @Session["Ad"] @Session["Soyad"]</strong></a></li>

                                    <li><a href="/Account/LogOut"><i class="fa fa-lock"></i><strong>Çıkış Yap</strong></a></li>
                                }                                

                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="/Admin/Index"><i class="fa fa-lock"></i><strong>Admin Paneli</strong></a></li>
                                }

                                <li><a href="/Home/Index"><strong>Anasayfa</strong></a></li>


                                <li><a href="/Cart/Index"><img src="~/Content/Image/sepet.png" width="30" height="30" /><label style="color:red">@{Html.RenderAction("TotalCount", "Cart");}</label></a></li>
                                <li><a href="/Sales/Index"><i class="fa fa-dollar" style="color:darkred"></i><strong>Satışlarım</strong></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->


    </header>

        <section id="form" style="position:relative; bottom:80px">
            <!--form-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="login-form">
                            <!--login form-->
                            <h2 style="color:darkred"><strong>Lütfen Giriş Yapın</strong></h2>
                            <form action="/Account/Login" method="post">
                                <input type="email" placeholder="Email" name="Email" />
                                <input type="password" placeholder="Şifre" name="Password" />
                                <a href="/User/PasswordReset" class="btn btn-link" style="color:green">Şifremi Unuttum</a>
                                <button type="submit" class="btn btn-default" style="background-color:darkred; color:snow"><strong>Giriş</strong></button>
                            </form>
                        </div><!--/login form-->
                    </div>
                    <div class="col-sm-1">
                        <h2 class="or" style="background-color:darkred; color:snow"><strong>Veya</strong></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="signup-form">
                            <!--sign up form-->
                            <h2 style="color:darkred"><strong>Hesap Oluşturun</strong></h2>
                            <form action="/Account/Register" method="post">
                                <input type="text" placeholder="Ad" name="Name" />
                                @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
                                <input type="text" placeholder="Soyad" name="SurName" />
                                @Html.ValidationMessageFor(x => x.SurName, "", new { @style = "color:red" })
                                <input type="email" placeholder="Email" name="Email" />
                                @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
                                <input type="text" placeholder="Kullanıcı Adı" name="UserName" />
                                @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })
                                <input type="password" placeholder="Şifre" name="Password" />
                                @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:red" })
                                <input type="password" placeholder="Şifrenizi Tekrar Giriniz" name="RePassword" />
                                @Html.ValidationMessageFor(x => x.RePassword, "", new { @style = "color:red" })
                                <button type="submit" class="btn btn-default" style="background-color:darkred; color:snow"><strong>Kayıt Ol</strong></button>
                            </form>
                        </div><!--/sign up form-->
                    </div>
                </div>
            </div>
        </section><!--/form-->
        <footer id="footer">
            <!--Footer-->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="companyinfo" style="margin-bottom:50px">
                                <h2 style="color:darkred"><span style="color:darkred">o</span>-depom</h2>

                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-9">
                                <br />
                                <br />
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <h3><strong>Hemen Kaydolun ve <span style="color:darkred">sürpriz</span> indirimlerden yararlanın.</strong></h3>
                                }
                            </div>

                            <div class="col-sm-3">
                                <br />                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="footer-bottom">
                <div class="container">
                    <div class="row">

                        <p class="pull-right" style="color:darkred">Designed by <span style="color:darkred">Cankat Atalar</span></p>
                    </div>
                </div>
            </div>

        </footer>

        <script src="js/jquery.js"></script>
        <script src="js/price-range.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/main.js"></script>
</body>
</html>
