
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/eshop/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshop/css/price-range.css" rel="stylesheet">
    <link href="~/eshop/css/animate.css" rel="stylesheet">
    <link href="~/eshop/css/main.css" rel="stylesheet">
    <link href="~/eshop/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshop/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshop/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshop/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/eshop/images/ico/apple-touch-icon-57-precomposed.png">    
    <style>
        .ui-autocomplete {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            display: none;
            min-width: 160px;
            _width: 160px;
            padding: 4px 0;
            margin: 2px 0 0 0;
            list-style: none;
            background-color: #ffffff;
            border-color: #ccc;
            border-color: rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 1px;
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ui-autocomplete-category {
            font-weight: bold;
            padding: 2px 5px;
            margin: 0;
        }

        .ui-autocomplete-item {
            padding: 2px 5px;
            cursor: pointer;
        }

            .ui-autocomplete-item:hover {
                background-color: #f4f4f4;
            }
    </style>
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top" style="background-color:darkred">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone" style="color:snow"></i><strong style="color:snow">+90(531)555 61 68</strong></a></li>
                                <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa fa-envelope" style="color:snow"></i><strong style="color:snow">cankat.atalar12@gmail.com</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" style="color:snow"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" style="color:snow"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="/Home/Index"><img src="~/eshop/images/home/online.png" alt="" /></a>
                        </div>
                        <div class="search_box pull-center">
                            <form action="@Url.Action("ProductSearch", "Product")" method="get" style="padding-left: 200px">
                                <input type="text" id="searcString" name="searchString" placeholder="Ara">                                
                            </form>
                        </div>
                    </div>
                    
                        
                    
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/User/Update"><i class="fa fa-user"></i><strong> @Session["Ad"] @Session["Soyad"]</strong></a></li>

                                    <li><a href="/Account/LogOut"><i class="fa fa-lock"></i><strong>Çıkış Yap</strong></a></li>
                                }
                                else
                                {
                                    <li><a href="/Account/Login"><i class="fa fa-lock"></i><strong>Giriş Yap</strong></a></li>
                                }

                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="/Admin/Index"><i class="fa fa-lock"></i><strong>Admin Paneli</strong></a></li>
                                }

                                <li><a href="/Home/Index"><strong>Anasayfa</strong></a></li>


                                <li><a href="/Cart/Index"><img src="~/Content/Image/sepet.png" width="30" height="30" /><label style="color:red">@{Html.RenderAction("TotalCount", "Cart");}</label></a></li>
                                <li><a href="/Sales/Index"><i class="fa fa-dollar" style="color:darkred"></i><strong>Satışlarım</strong></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->


    </header><!--/header-->

    <div class="container">
        @RenderBody()
    </div>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2 style="color:darkred"><span style="color:darkred">o</span>-depom</h2>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-9">
                            <br />
                            <br />
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <h3><strong>Hemen Kaydolun ve <span style="color:darkred">sürpriz</span> indirimlerden yararlanın.</strong></h3>
                            }                                                       
                        </div>

                        <div class="col-sm-3">
                            <br />
                            <br />
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Login", "Account")">
                                    <h3 style="color: darkred"><strong>Hemen Kaydol</strong></h3>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer-bottom">
            <div class="container">
                <div class="row">

                    <p class="pull-right" style="color:darkred">Designed by <span style="color:darkred">Cankat Atalar</span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->

    <script src="~/eshop/js/jquery.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#searchString").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Products/AutoCompleteSearch", // Controller action method for autocomplete
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1, // Minimum karakter sayısı
                select: function (event, ui) {
                    // Seçilen öğe üzerine tıklama işlevi
                    window.location.href = "/Products/ProductDetails?id=" + ui.item.id;
                }
            });
        });
    </script>
</body>
</html>